{{>licenseInfo}}
{{#operations}}

#include "{{classname}}Impl.h"

{{#apiNamespaceDeclarations}}
namespace {{this}} {
{{/apiNamespaceDeclarations}}

{{#hasModelImport}}
using namespace {{modelNamespace}};{{/hasModelImport}}

{{classname}}Impl::{{classname}}Impl(const std::shared_ptr<CloudI::API> &api)
    : {{classname}}(api)
{
}

{{#operation}}
void {{classname}}Impl::{{operationIdSnakeCase}}(CloudI::API const &api, int const request_type,
    std::string const &name, std::string const &pattern,
    void const *const request_info,
    uint32_t const request_info_size,
    void const *const request,
    uint32_t const request_size, uint32_t timeout,
    int8_t priority, char const *const trans_id,
    char const *const pid, uint32_t const pid_size) {
  // Your Implementation Here
  API_RETURN_ENOTIMPLEMENTED_SOURCE(name.c_str());
}
{{/operation}}

{{#apiNamespaceDeclarations}}
}
{{/apiNamespaceDeclarations}}

{{/operations}}
