{{>licenseInfo}}

#ifndef {{packageNameUpperCase}}_ERROR_IMPL_H
#define {{packageNameUpperCase}}_ERROR_IMPL_H

#include <map>
#include <string>

namespace {{packageName}}::ErrorImpl
{

struct {{packageName}}ErrorImpl {
  int internal_code;
  std::string title;
  std::string detail;
  std::string source;
};

const std::map<std::string, {{packageName}}ErrorImpl> ERRORS_IMPL = {
  {"ENOTIMPLEMENTED", {1, "Not implemented request", "The server does not support the functionality required to fulfill the request", ""}},
  // Your implementation errors here
};

}

#endif  // {{packageNameUpperCase}}_ERROR_IMPL_H
