[[
  {prefix, "{{basePathWithoutHost}}"},
  {file_path, "{{binFilepath}}"},
  {env, [{"LD_LIBRARY_PATH",
          "/usr/local/lib/:/usr/local/lib/padtec/:/usr/local/lib/cloudi/api/c/"}]},
  {timeout_init, 30000},
  {timeout_async, 30000},
  {timeout_sync, 30000}
]]
