-module({{packageName}}_impl).

-export([cloudi_service_handle_request/11]).

-include("{{packageName}}_error.hrl").

-record(state,
    {
    }).

-define(CLOUDI_REPLY(Tuple, State), networking:make_cloudi_reply(Tuple, State)).

cloudi_service_handle_request(_RequestType, _Name, _Pattern, _RequestInfo,
                              _Request, _Timeout, _Priority, _TransId, _Pid,
                              State, _Dispatcher) ->
  ?CLOUDI_REPLY({?NOT_IMPLEMENTED, [?ENOTIMPLEMENTED]}, State).
