-module({{packageName}}_impl).

-export([cloudi_service_handle_request/11]).

-include("{{packageName}}_error.hrl").

-record(state,
    {
    }).

cloudi_service_handle_request(_RequestType, _Name, _Pattern, _RequestInfo,
                              _Request, _Timeout, _Priority, _TransId, _Pid,
                              _State, _Dispatcher) ->
  {?NOT_IMPLEMENTED, [?ENOTIMPLEMENTED]}.
