{{#apiInfo}}{{#apis}}
{{#operations}}{{#operation}}
  ==== OPERATION ====
  path => "{{{basePathWithoutHost}}}{{{path}}}",
  {{operationId}}
  {{#examples}}
      ==== EXAMPLE ====
    "{{{example}}}"
      ==== EXAMPLE 1====
exampleJson = "{{{example}}}";
      ==== RESPONSE ====
{{{deserializedExample}}}
    {{responseExample}}
  {{/examples}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

{{#apiInfo}}{{#apis}}
{{#operations}}{{#operation}}
stub("{{operation.path}}", {{operation.httpMethod}}) ->
    <<"{{#response}}{
  {{#hasProperty}}\"{{name}}\": {{value}}{{#comma}},{{/comma}}{{/hasProperty}}
}{{/response}}">>;
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

{{#paths}}
{{#operations}}
%% {{summary}}
handle_call({{functionName}}, _From, _State) ->
    {reply, {{responseExample}}, _State};
{{/operations}}
{{/paths}}
